@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");

* {
	font-family: "Shantell Sans", sans-serif;
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: #8758ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	text-align: center;
}

h1 {
	color: #fff;
	font-size: 40px;
	margin-bottom: 0.5rem;
}

.todo-wrapper {
	background: #1a1a40;
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 6px;
}

.todo-form {
	width: 100%;
}

.todo-input {
	outline: none;
	background: none;
	border: 1px solid #8758ff;
	padding: 9px 20px;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 300px;
	color: #fff;
	font-size: 18px;
}

.todo-input::placeholder {
	color: #ffffff52;
}

.todo-btn-submit {
	background: #8758ff;
	color: #fff;
	border: none;
	border-radius: 50%;
	padding: 5px 15px;
	cursor: pointer;
	font-size: 30px;
	margin-left: 10px;
}
.todo-btn-update {
	background: #8758ff;
	color: #fff;
	border: none;
	padding: 5px 15px;
	cursor: pointer;
	font-size: 20px;
}

.todo-btn-submit:hover {
	background: #1faa59;
	transition: 0.4s ease-out;
}
.todo-btn-update:hover {
	background: #1faa59;
	transition: 0.4s ease-out;
}

.todo-btn-submit:active {
	transform: translateY(2px);
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	cursor: pointer;
}

.todo:nth-child(2n + 1) {
	background: #8758ff;
}

.todo:nth-child(2n) {
	background: #8758ff30;
}

.todo p {
	text-align: left;
}

.delete:hover {
	fill: #e21717;
	transition: 0.4s ease-out;
}

.delete:active {
	transform: translateY(2px);
}

.edit:hover {
	fill: #1b98f5;
	transition: 0.4s ease-out;
}

.edit:active {
	transform: translateY(2px);
}

.completed {
	color: #b2a0e0;
	text-decoration: line-through;
}

@media screen and (max-width: 433px) {
	.todo-input {
		border: 1px solid #8758ff;
		width: 250px;
		font-size: 16px;
	}
}
@media screen and (max-width: 446px) {
	.todo div svg {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
	}
}

@media screen and (max-width: 517px) {
	.todo-btn-update {
		margin-top: -10px;
		margin-bottom: 20px;
		font-size: 16px;
	}
}
