@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: #8758ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	text-align: center;
}

h1 {
	color: #fff;
	margin-bottom: 0.5rem;
}

.todo-wrapper {
	background: #1a1a40;
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 6px;
}

.todo-form {
	width: 100%;
}

.todo-input {
	outline: none;
	background: none;
	border: 1px solid #8758ff;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 300px;
	color: #fff;
}

.todo-input::placeholder {
	color: #ffffff52;
}

.todo-btn-submit {
	background: #8758ff;
	color: #fff;
	border: none;
	padding: 0.55rem;
	cursor: pointer;
}

.todo-btn-submit:hover {
	background: #1faa59;
	transition: 0.4s ease-out;
}

.todo-btn-submit:active {
	transform: translateY(2px);
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	cursor: pointer;
}

.todo:nth-child(2n + 1) {
	background: #8758ff;
}

.todo:nth-child(2n) {
	background: #8758ff30;
}

.delete:hover {
	fill: #e21717;
	transition: 0.4s ease-out;
}

.delete:active {
	transform: translateY(2px);
}

.edit:hover {
	fill: #1b98f5;
	transition: 0.4s ease-out;
}

.edit:active {
	transform: translateY(2px);
}

.completed {
	color: #b2a0e0;
	text-decoration: line-through;
}
